.blood-btn {
    top: 80px;
    left: 10px;
    position: absolute;
    display: flex;
    width: 184px;
    flex-wrap: wrap;
}

button {
    margin: 3px;
    color: red;
    border: 0.5px solid red;
    background-color: white;
    border-radius: 8px;
    width: 40px;
    height: 30px;
    outline: none;
    cursor: pointer;
}

.blood-btn button:active {
    background: red;
    color: white;
    /* background: green; */
}

.blood-bag {
    width: 70px;
    height: 120px;
    border-radius: 50px;
    overflow: hidden;
    border: 10px solid #dddddd;
    transform: rotate(180deg);
    margin: auto;
    margin-top: 20vh;
}

.hose {
    height: Calc(40vh - 10px);
    background: #dddddd;
    width: 7px;
    left: 50%;
    position: absolute;
    top: Calc(20vh + 130px);
}

.hose-progress {
    background-color: #ff0000 !important;
    height: 0;
    width: 7px;
    animation: hose-move 1s linear 0s 1 normal forwards;
}

.blood {
    position: relative;
    bottom: 0;
    background-color: #ff0000;
    overflow: hidden;
    height: 70%;
}

.reduce-blood {
    animation: reduce-blood 1.5s linear 0s 1 normal forwards;
}

.bg {
    height: 5px;
    width: 20vw;
    background-color: #dddddd;
    margin-top: Calc((40vh - 40px) / 4);
    position: relative;
}

.A-,
.O-,
.B-,
.AB- {
    background-color: #ff0000;
}

.line {
    display: flex;
    justify-content: center;
}

.right {
    margin-left: Calc(20vw + 10px);
}

.left {
    margin-left: -40px;
}

.left-progress {
    background-color: #dddddd;
    height: 5px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.right-progress {
    height: 5px;
    width: 0;
    background-color: red;
}

.forwards {
    animation: move-forwards 0.5s linear 1s 1 normal forwards;
}

.backwards {
    animation: move-backwards 0.5s linear 1s 1 normal forwards;
}

@keyframes reduce-blood {
    from {
        height: 70%;
    }

    to {
        height: 30%;
    }
}

@keyframes hose-move {
    from {
        height: 0;
    }

    to {
        height: Calc(40vh - 10px);
    }
}

@keyframes move-forwards {
    from {
        width: 0;
    }

    to {
        width: 20vw;
    }
}

@keyframes move-backwards {
    from {
        width: 20vw;
    }

    to {
        width: 0;
    }

}